/* Estilo para o título principal */
.main-title {
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #28a745; /* Verde */
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

/* Estilos para cada seção */
.section-title {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

/* Estilos específicos para cada cor de seção */
.section-purple {
    background-color: purple;
}

.section-orange {
    background-color: orange;
}

.section-red {
    background-color: red;
}

.section-blue {
    background-color: blue;
}

/* Estilo para destaque amarelo com texto vermelho */
.highlight-yellow-red {
    background-color: yellow;
    color: red;
    font-weight: bold;
}